beautifulsoup4==4.12.2
black==23.10.1
blinker==1.6.3
Brotli==1.1.0
cachelib==0.9.0
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
ConfigArgParse==1.7
distlib==0.3.7
filelock==3.13.0
flake8==6.1.0
Flask==3.0.0
Flask-BasicAuth==0.2.0
Flask-Caching==2.1.0
Flask-Cors==4.0.0
Flask-Testing==0.8.1
gevent==23.9.1
geventhttpclient==2.0.11
greenlet==3.0.1
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
locust==2.18.1
MarkupSafe==2.1.3
mccabe==0.7.0
msgpack==1.0.7
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.3.0
psutil==5.9.6
pycodestyle==2.11.1
pyflakes==3.1.0
pytest==7.4.3
python-dotenv==1.0.0
pyzmq==25.1.1
requests==2.31.0
roundrobin==0.0.4
six==1.16.0
soupsieve==2.5
urllib3==2.0.7
virtualenv==20.24.6
Werkzeug==3.0.1
zope.event==5.0
zope.interface==6.1
