/* Style pour le titre du tableau, maintenant séparé */
.table-title {
    text-align: center;
    font-size: 1.5em; /* Réduire la taille de la police */
    color: #009021; /* Changer la couleur en orange */
    padding: 20px; /* Ajouter un padding de 20px */
}

/* Centrer le tableau */
.center-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 25%; /* Réglez ceci sur la largeur que vous souhaitez pour votre tableau */
}

/* Ajouter des bordures aux cellules du tableau */
.center-table th, .center-table td {
    border: 1px solid black;
    padding: 10px; /* Ajouter de l'espacement autour du texte */
    text-align: center; /* Centrer le texte */
}

/* Centrer le texte dans les en-têtes */
.center-table th {
    background-color: #f2f2f2;
}
