/* styles.css */

h1 {
    text-align: center;
    margin-top: 2%;
    color: blue;
}

h2 {
    color: red;
    padding-top: 10px;
    text-decoration: underline;
    text-align: center;
    margin-top: 1%;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.center-block {
    margin: auto;
    text-align: center;
}

.logo-container {
	text-align: center;
	margin-top: 20px; /* Ajustez cette valeur selon vos besoins */
}
  
.site-logo {
	max-width: 100px;  /* Ajustez cette valeur selon vos besoins */
	height: auto;
}

.company-name {
	color: red;
	font-weight: bold;
	margin-top: 10px; /* ajustez l'espacement au besoin */
}

/* Pour manipuler "Places available: 25" */
#places-available {
    margin-top: 20px;
    color: blue;
    font-weight: bold;
}

/* Pour manipuler le formulaire */
#booking-form {
    margin-top: 40px;  /* Ajoutez le margin-top que vous souhaitez */
}

.flash-message{
    color: darkred;
    padding-top: 20px;
    text-align: center;
}

li {
    color: chocolate; 
    font-weight: 400;
    font-size: 18px;
}

.center-text p {
    color: forestgreen;
    font-weight: 600;
    font-size: 20px;
}

.flash-messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0772f5;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #87cefa;
}
