<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
</head>
<body>
    <div class="logo-container">
        <img src="/static/logo.png" alt="Logo du site" class="site-logo">
        <p class="company-name">GÜDLFT</p>
    </div>    
    <h2>{{competition['name']}}</h2>
    <!-- Ligne pour "Places available: 25" -->
    <div class="center-text" id="places-available">
        Places available: {{competition['numberOfPlaces']}}
    </div>

    <!-- Ligne pour le formulaire -->
    <div class="center-text" id="booking-form">
        <form action="/purchasePlaces" method="post">
            <input type="hidden" name="club" value="{{club['name']}}">
            <input type="hidden" name="competition" value="{{competition['name']}}">
            <label for="places">How many places?</label>
            <input type="number" name="places" id=""/>
            <button type="submit">Book</button>
        </form>
    </div>

    <!-- Section pour les messages flash -->
    <div id="flash-message-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
