<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='club_table.css') }}">  
    <title>Points disponibles pour tous les clubs</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">  
</head>
<body>
    <div class="logo-container">
        <img src="/static/logo.png" alt="Logo du site" class="site-logo">
        <p class="company-name">GÜDLFT</p>
    </div>
    <table class="center-table">
        <caption><b><font size="5">Liste de tous les clubs avec leurs points disponibles</font></b></caption>
        <tr>
            <th>Club name</th>
            <th>Points count</th>
        </tr>
        {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div style="text-align: center;">
        <a href="/">Retourner à la page de connexion</a>
    </div>
</body>
</html>
